aniso8601
blinker
Cerberus
click
Flask
Flask-Login
Flask-RESTful
Flask-WTF
future
importlib-metadata
itsdangerous
Jinja2
lxml
MarkupSafe
PyESCPOS
python-decouple
pytz
satcfe
satcomum
satextrato
six
typing-extensions
Unidecode
watchdog
Werkzeug
WTForms
xmltodict
zipp
